 <header class="scroll-section">
  <img src="{3vot}/assets/clay-in-smartphone.jpg" alt="">
  <div class="intro">
    <h1>A Welding Wholesale and distribution company build their apps <span class="text-clay">With Clay</span></h1>
    <h6>September 12, 2012</h6>
  </div>
</header> 

<div class="container">
     
      <div id="scroll-scroller" class="scroll-scroller">

        <section class="scroll-section shadow-top">
           <div class="hour start" ><span class="calendar"></span>Back in January 2010</div>
          
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/1.gif" alt="img01">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Rodco S.A.</h2>
            <p>wasn't able to satisfy its growing demands as a Welding Wholesale and distribution company using common enterprise software. They decide to use <strong>Salesforce+Clay</strong></p>
          </article>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="calendar"></span>In February 2010</div>
          <article class="scroll-side scroll-side-left">
            <h2>Begins a constant improvement</h2>
            <p>By using Clay they turned Rodco into a success story, 25 deep impact apps in their business were made in 12 months.</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/2.gif" alt="830am">
          </figure>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="calendar"></span>Same month</div>
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/900am.jpg" alt="9am">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>How did they do it?</h2>
            <p>A $70k investment in custom ERP delivered 25 apps with phone, tablet and desktop versions in the next 12 months.
             </p>
          </article>
        </section>


        <section class="scroll-section">
          <div class="hour "><span class="calendar"></span>In the next few months</div>
          <article class="scroll-side scroll-side-left">
            <h2>All apps had Modern User Interfaces</h2>
            <p>Clay allowed to speed up processes, Order to delivery time was reduced by 40%</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/905am.jpg" alt="905am">
          </figure>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="calendar"></span>In the next few months</div>
          <article class="scroll-side scroll-side-left">
            <h2>Using Salesforce latest visualforce technology,</h2>
            <p>Login, data security and permisions were fully controlled by Salesforce.</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/1030am.jpg" alt="1030am">
          </figure>
        </section>

         <section class="scroll-section">
          <div class="hour "><span class="calendar"></span>February 2012</div>
          <article class="scroll-side scroll-side-left">
            <h2>Rodco's Sales, Credit and Logistics work in Real Time</h2>
            <p>The apps work synchronized while updating and delivering on the road, the trucks or client's offices.</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/905am.jpg" alt="905am">
          </figure>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="calendar"></span>March 2011</div>
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/team.jpg" alt="Rodco Team">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>"It empowers everybody"</h2>
            <p>The impact of mobile apps in the daily operations is huge - says Silvia, CFO of RODCO</p>
          </article>
        </section>

       


      </div>

    </div>


  <footer>
    <div class="metrics-box">
      <div class="metric"><img src="{3vot}/assets/icon-kid.png" alt="40 kids">20 Estudiantes</div>
      <div class="metric"><img src="{3vot}/assets/icon-smartphone.png" alt="40 apps">0 Experiencia</div>
      <div class="metric"><img src="{3vot}/assets/icon-code.png" alt="4000 lines of code">4 Horas</div>
      <div class="metric"><img src="{3vot}/assets/icon-deploy.png" alt="20 deploys">20 Apps</div>
    </div>
    

  </footer>
    