 <header class="scroll-section">
  <img src="{3vot}/assets/clay-in-smartphone.jpg" alt="">
  <div class="intro">
    <h1><span class="text-clay">Con Clay</span> estudiantes aprenden a construir apps en 4 horas</h1>
    <h6>Septiembre 12, 2014</h6>
  </div>
</header> 

<div class="container">
     
      <div id="scroll-scroller" class="scroll-scroller">

        <div class="social">

            <div class="social-feed">
                
                <div class="social-item translatel">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    "¿Usted cómo sabe tanto? Deme ya su correo, fb, twitter..., voy a exprimirlo". (Un alumno de 7A a un instructor de @3VOT.) #sekhackathon 
                  </div>
                </div>
                
                <div class="social-item translatel featured">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Victor López</strong><span>Estudiante</span></div>
                  <div class="message">
                    "Los comentarios que me han ido llegando de alumnos y profesores participantes expresan mucha satisfacción; ojalá podamos repetir la experiencia" 
                  </div>
                </div>
                <div class="social-item translatel">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    Muchsimas gracias yo me mantendre en contacto con usted, es posible comunicarme con usted mañana o durante el fin de semana
                  </div>
                </div>
                <div class="social-item translatel">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    Profesores de #SEKCostaRica no han querido perderse el Primer Hackaton coordinado por nuestro antiguo alumno @armova 
                  </div>
                </div>
                 <div class="social-item translatel">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    Pantalla de trabajo de Felipe Arango en Primer Hackaton de #SEKCostaRica 
                  </div>
                </div>
                <div class="social-item translatel featured">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    Agradecemos a los facilitadores del Primer Hackaton de #SEKCostaRica @REcheverria @3VOT @armova 
                  </div>
                </div>
                <div class="social-item translatel">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                   Experiencia pionera en #SEKCostaRica con el Primer Hackaton @3VOT @3VOT @REcheverria  
                  </div>
                </div>
                <div class="social-item translatel">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                   Sesión de trabajo en equipo en el Primer Hackaton de #SEKCostaRica gracias a @armova @REcheverria @3VOT 
                  </div>
                </div>
                
            </div>
        </div>

       
        <section class="scroll-section shadow-top">
           <div class="hour start" ><span class="clock"></span>Programadores del Mañana</div>
          <article class="scroll-side scroll-side-left">
            <h2>Colegio Internacional Sek </h2>
            <p>El Colegio SEK con 45 sedes en el mundo, inicio con Clay un plan piloto para que sus estudiantes aprendan a programar.</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/1.jpg" alt="img01">
          </figure>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="clock"></span>22 AGO 2014</div>
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/820am.jpg" alt="820">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>20 Colegiales</h2>
            <p>Ellos usarán Clay para construir un App con Javascript.<br/><br/>Al final del día <strong>todos </strong> publicaran el App en internet.</p>
          </article>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="clock"></span>A las 8:30 AM</div>
          <article class="scroll-side scroll-side-left">
            <h2>Clases de desarrollo web</h2>
            <p>Nuestro Co-fundador enseña HTML5. Es tan sencillo y bien documentado, que todos pueden aprender.</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/830am.jpg" alt="830am">
          </figure>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="clock"></span>A las 9:00 AM</div>
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/900am.jpg" alt="9am">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Clay App's es una Galeria con Demos y Templates</h2>
            <p>Los jovenes descargan las apps y el codigo abierto para aprender HTML5 en la práctica. </p>
          </article>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="clock"></span>A las 9:05 AM</div>
          <article class="scroll-side scroll-side-left">
            <h2>Clay es un producto comercial para uso industrial</h2>
            <p>En 5 minutos 20 estudiantes estan listos para trabajar como si fueran Salesforce.com</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/905am.jpg" alt="905am">
          </figure>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="clock"></span>A las 10:30 AM</div>
          <article class="scroll-side scroll-side-left">
            <h2>Aprendiendo de Verdad!</h2>
            <p>Clay permite que los jovenes cambian el codigo y los cambios se ven al instante en sus pantallas.<br/><br/> Esta es la verdadera forma de aprender: <strong>"Prueba y Error"</strong></p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/1030am.jpg" alt="1030am">
          </figure>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="clock"></span>A las 11:00 AM</div>
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/930am.jpg" alt="930am">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Aparecen en Internet</h2>
            <p>Rapidamente las primeras apps son publicadas en internet.<br/><br/><a href="http://3vot.com/alberto/profile_2/" target="_blank">http://3vot.com/alberto/profile_2/</a></p>
          </article>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="clock"></span>A las 11:40 AM</div>
          <article class="scroll-side scroll-side-left">
            <h2>Clay es la Plataforma</h2>
            <p>Tenemos nuevos programadores en HTML y Javascript, porque CLAY les dio las facilidades para concentrarse en su propio app.</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/1040am.jpg" alt="1040am">
          </figure>
        </section>

        
        <section class="scroll-section">
          <div class="hour "><span class="clock"></span>Conclusion</div>
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/1100am.jpg" alt="1100am">
            <div class="links">
              <a href="http://3vot.com/jeangabriel/profile_2/" target="_blank">Ver App de Jean</a>
              <a href="http://3vot.com/fireman_29_6/profile_2/" target="_blank">Ver App de Andrea</a>
              <a href="http://3vot.com/nataliagonzalez/profile_2/" target="_blank">Ver App de Natalia</a>
            </div>
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Exito! </h2>
            <p>Los estudiantes aprendieron a programar y construyeron sus propias apps.</p>
          </article>
        </section>


      </div>

    </div>


  <footer>
    <div class="metrics-box">
      <div class="metric"><img src="{3vot}/assets/icon-kid.png" alt="40 kids">20 Estudiantes</div>
      <div class="metric"><img src="{3vot}/assets/icon-smartphone.png" alt="40 apps">0 Experiencia</div>
      <div class="metric"><img src="{3vot}/assets/icon-code.png" alt="4000 lines of code">4 Horas</div>
      <div class="metric"><img src="{3vot}/assets/icon-deploy.png" alt="20 deploys">20 Apps</div>
    </div>
    

  </footer>
    